:host {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

mat-card-content {
    align-items: center;
    flex-direction: column;
}

div.buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
