<div class="form">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <form [formGroup]="formGroup" (ngSubmit)="onRegister()">
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input [formGroup]="formGroup" formControlName="name" matInput placeholder="Enter your name" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input [formGroup]="formGroup" formControlName="mail" matInput placeholder="Enter your e-mail" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input [formGroup]="formGroup" formControlName="password" matInput type="password" placeholder="Enter your password" />
                </mat-form-field>

                <div class="buttons">
                    <button type="button" mat-stroked-button color="primary" [routerLink]="''">Login</button>
                    <button mat-raised-button color="primary">Register</button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>
